/* src/App.css */
body {
  background-color: #0f172a; /* slate-900 vibe */
  color: #e2e8f0; /* slate-200 */
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif;
}

.MuiAppBar-root {
  background: linear-gradient(90deg, #111827, #1f2937);
}
